textarea {
    width: 50%; /* Makes the textarea take up the full width of its container */
    height: 200px; /* Adjust the height as needed */
    padding: 10px; /* Adds some padding inside the textarea for better readability */
    font-size: 16px; /* Increases the text size inside the textarea */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 4px; /* Rounded corners for the border */
    resize: vertical; /* Allows the user to resize the textarea vertically */
}


footer {
    flex: 0 0 auto;
    color: white;
    text-align: center;
    }


body {
    margin-right: 35%;
    margin-left: 35%;
    background-color: #2C3639;
    
}

h1 {
    color:#A27B5C;
}
label, h2, footer, p, div {
    color: #DCD7C9;
}

p{
    margin-top: 5px;
    margin-bottom: 50px;
}

.btn {
    margin:10px;
}

.bookImage {
    border-radius: 15%;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
